librosa==0.9.1
librosa==0.10.2.post1
numpy==1.21.6
numpy==1.24.3
omegaconf==2.0.0
omegaconf==2.3.0
opencv_python==4.5.5.64
opencv_python==4.11.0.86
pudb==2024.1.3
pyrender==0.1.33
pyrender==0.1.45
pytorch_lightning==1.0.8
pytorch_lightning==2.5.0.post0
scipy==1.7.3
smplx==0.1.28
torch==1.10.0
torch==2.6.0+cu118
tqdm==4.63.0
tqdm==4.66.5
transformers==4.17.0
transformers==4.49.0
trimesh==3.10.5
trimesh==4.6.4
